# Includes the list of all dependencies required to run setup() and 
# use the package in some new environment.
# E.g. for creating a conda environement or to be used in testing workflow 
# or to host the documentation on Read the Docs

pytest
sphinx==5.3.0
myst-nb
sphinx_rtd_theme
sphinx-copybutton
sphinx-autoapi==1.9.0   # Defining exact versions to ensure things dont break
numpydoc
gitpython
git+https://github.com/anugrahjo/sphinx-collections.git
sphinxcontrib-bibtex
pandas
joblib
vedo
myst-nb
astroid==2.15.5
setuptools
wheel
twine
scipy
git+https://github.com/LSDOlab/CSDL_alpha.git
git+https://github.com/LSDOlab/lsdo_b_splines_cython.git